<p>Listado de Héroes</p>


<!-- <div *ngIf="heroeBorrado !== ''"> 
<div *ngIf="heroeBorrado">
    <h3>Héroe borrado </h3>
    <span>{{heroeBorrado}}</span>
</div>

<div *ngIf="!heroeBorrado">
    <h3>No ha borrado nada </h3>
</div>
-->

<div *ngIf="heroeBorrado; else noBorrado">
    <h3>Héroe borrado </h3>
    <span>{{heroeBorrado}}</span>
</div>

<ng-template #noBorrado>
    <h3>No ha borrado nada. </h3>
</ng-template>

<button (click)="borrarHeroe()">
    Borrar
</button>

<ul>
   <!-- <li>item 1</li>
    <li>{{heroes[0]}}</li>
    <li>item 2</li>
    <li>item 3</li>-->
    <li *ngFor="let heroe of heroes; let i = index" >  
        {{ i + 1 }} - {{ heroe }}
    </li>
</ul>

